@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,900;1,600&display=swap');
body {
    max-width: 100vw;
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(238, 238, 238);
}
input.form-control:focus {
    box-shadow: none;
}
.menu-top li a.active-menu {
    background-color: orange;
    color: black;
}
/* Top Bar */
.header {
    width: 100%;
    background-color: black;
    padding: 5px;
}
.navigation-top-bar-left {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.navigation-top-bar-left li {
    list-style: none;
    border-right: 2px solid grey;
    padding: 0px 7px;
}
.navigation-top-bar-left li a {
    text-decoration: none;
    color: grey;
    font-size: 0.8em;
}.navigation-top-bar-left li a:hover {
    text-decoration: underline;
}
.icon-social-top-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.icon-social-top-bar li {
    list-style: none;
    padding: 0 7px;
}
.icon-social-top-bar li a {
    color: white;
}
/* End Top Bar */

/* Section Logo */
.section-logo {
    width: 100%;
    padding: 7px;
}
.logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.advertisement-top {
    width: 100%;
}
.advertisement-top img {
    width: 100%;
}
/* Section Menu */
.section-menu {
    width: 100%;
    background-color: black;
}
.navigation-top {
    height: 100%;
    height: 100%;
}
.menu-top {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}
.menu-top li {
    list-style: none;
    height: 100%;
}
.menu-top li a {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    transition: 0.3s;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
}
.menu-top li a:hover {
    background-color: orange;
    color: black;
}
/* Content Hero */
#main {
    width: inherit;
}
.section-content-hero {
    min-width: 100%;
}
.card-news-jumbo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    height: 500px;
}
.card-news-jumbo .overlay a h3 {
    font-size: 1.5em;
    color: white;
    font-weight: 700;
}
.card-news-jumbo img {
    height: 100%;
}
.card-news-mini {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-news-mini img {
    height: 100%;
}
.card-news-mini .overlay a h3 {
    font-size: 0.5em;
}
.card-news-mini .overlay {
    padding: 10px;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 50px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 23%, rgba(0,0,0,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.anchor-link {
    text-decoration: none;
    text-transform: uppercase;
}
.anchor-link:hover {
    text-decoration: underline;
}
.badge-kategori {
    background-color: orange;
    text-decoration: none;
    padding: 7px 10px;
}
.section-featured-news {
    width: 100%;
}
.title-section {
    background-color: white;
    padding: 8px;
    border-left: 5px solid orange;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.card-article {
    background-color: white;
}
.image-card-article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-article a h3 {
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(46, 46, 46);
}
.image-card-article img {
    width: 100%;
    max-height: 230px;
}
.excerpt-card-article {
    color: grey;
}
.footer-card-article {
    border-top: 2px solid grey;
    padding: 20px;
}
.info-article a {
    color: grey;
}
.card-article-2 {
    background-color: white;
    display: flex;
    width: 100%;
    max-height: 125px;
}
.image-card-article-2 {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-position: center;
    object-fit: cover;
}
.title-article-2 a h3 {
    font-size: 0.8em;
    font-weight: 700;
    color: rgb(34, 34, 34);
}
.image-card-article-2 img {
    height: 100%;
}
.body-card-article-2 {
    height: 100%;
    width: 70%;
}
.body-card-article-2 .badge-kategori {
    padding: 7px;
}
.card-article-3 {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
}
.image-card-article-3 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-position: center;
    object-fit: cover;
}
.title-article-3 a h3 {
    font-size: 1.2em;
    font-weight: 700;
    color: black;
}
.image-card-article-3 img {
    height: 100%;
    max-height: 300px;
}
.body-card-article-3 {
    width: 50%;
    min-height: 100%;
    position: relative;
    padding: 10px;
}
.excerpt-card-article-3 {
    font-size: 1.2em;
}
.footer-card-article-3 {
    border-top: 2px solid grey;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.image-advertisement {
    width: 100%;
    background-color: white;
    padding: 10px;
}
.image-advertisement a img {
    width: 100%;
}
.image-advertisement span {
    font-weight: 600;
}
.social-media {
    background-color: white;
    padding: 10px;
}
.social-media a {
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

/* Responsive */
@media (max-width: 548px) {
    .card-article-3 {
        flex-direction: column;
    }
    .image-card-article-3 {
        width: 100%;
        height: max-content;
    }
    .body-card-article-3 {
        width: 100%;
    }
    .excerpt-card-article-3 {
        height: max-content;
    }
    .footer-card-article-3 {
        position: relative;
    }
    .overlay {
        padding: 0 10px;
    }
    .card-news-jumbo .overlay a h3 {
        font-size: 1.5em;
        font-weight: 700;
    }
    
}

